*{
    margin: 0;
    padding: 0;
}
.header{
    height: 95px;
}
.carousel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 95px);
    background-color: blue; 
    overflow: hidden ;
    position: relative;
    right: 100%;
}
.img-carousel{
    width:100%;
}
.box-card-1 {
  height: 500px;

}