*{
    margin: 0;
    padding: 0;
}
.main-box {
    display:flex;
    align-items:flex-start;
    margin-top: 0;
    justify-content: center;
    flex-direction: row;
    /*vh: view height */
    height: 600vh;
    background-color: rgb(189, 186, 186)
    
}
.box-style {
    width: 300px;
    margin:300px 40px;
    background-color: rgb(40, 56, 109);
    flex-direction: row;
    display: flex;
    }
    .box-1{
     border: 10px solid rgb(106, 201, 69);
     display: inline-block;
     height: 450px;
     
     
    }
    .box-2{
      border: 10px dashed rgb(224, 120, 60);
      display: inline-block;
      height: 450px;
    }
    .box-3{
    border: 10px dotted rgb(216, 180, 18);
    display: inline-block;
    height: 450px;
    }
    .box-4{
     border: 10px double rgb(236, 28, 28);
     display: inline-block;
     height: 450px;
    }
    p{
        font-size: 1.4;
        text-align: justify;
        color:rgb(150, 149, 141);
        padding: 90px 25px;
   

    }