*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
    background-color: rgb(4, 5, 43);
    font-size:1.3rem;
    position:absolute;
    width: 100%;
    text-align: center;
}
nav li {
    list-style: none;
    position: relative;
    text-align: center;
    cursor:pointer
}
nav li:hover{
    color: goldenrod;
}
nav a {
    text-decoration: none;
    color: white;
}
nav > ul >li {
    display: inline-block;
    width: 250px;
    line-height: 70px;
}
li {
    list-style: none;
    width: 250px;
    line-height: 60px;
    text-align: center;
}
li:hover {
    background-color: rgba(24, 40, 92, 0.856) ;
    cursor: pointer;
}
nav li {
    position: relative;
    cursor: pointer;
}
nav li li {
 max-height: 0;
 overflow: hidden;
 transition:max-height .3s;
}
nav li:hover > ul > li {
    max-height: 500px ;
    overflow: visible;
    border-top: 1px solid rgb(94, 94, 94 );
    border-right: 1px solid rgb(94, 94, 94 );
    transition: max-height 1.5s;
 
}
nav ul ul ul {
    left: 100%;
    top: 0;
}
nav li:hover > ul > ul {
    max-height: 500px ;
    overflow: visible;
    border-top: 1px solid rgb(94, 94, 94 );
    border-right: 1px solid rgb(94, 94, 94 );
    transition: max-height 1.5s;

}
