.box-style{
    width: 300px;
    height: 300px;
   
    color: white;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
    text-align: center;
    font-family:Tahoma, sans-serif;
    font-weight: 900;
    display: flex;

}
.box-1 {
    background-color:darkcyan;
    position: static; 
   
}
.box-2{
    background-color: goldenrod;
    position: fixed;
    top: 400px;
    left: 900px;
    
}
.box-3{
    background-color:mediumblue;
    position: absolute;
   left: 600px;
    
    
}
.box-4{
    background-color:rgb(88, 9, 58);
    position: relative;
    bottom: 0px;
    left: 0px;
}